.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 60px;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}
.footer {
  height: 60px;
  background-color: black;
}